/* Grundinställningar för layout */
html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Grundstil */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f3e9;
    color: #333;
    margin: 0;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #6b8f71; /* mild grön */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main */
main {
    flex: 1;
    max-width: 900px;
    margin: 40px auto;
    padding: 0;
}

.content-box, .recept-oversikt {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 30px;
}

/* Rubriker */
h1 {
    margin: 0;
    font-size: 2.2rem;
}

h2 {
    font-size: 1.6rem;
    color: #6b8f71;
}

/* Receptsektioner */
.recept-oversikt a {
    color: #333;
}

.recept-oversikt a:hover {
    color: #6b8f71;
    text-decoration: underline;
}

.recept {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 30px 0;
    border-radius: 8px;
}

.recept img {
   width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 15px 0;
    border-radius: 8px;
}

/* Bilder */
img {
    max-width: 100%;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}
